{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}
    <h1>Task</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Head</th>
                <td>{{ task.head }}</td>
            </tr>
            <tr>
                <th>About</th>
                <td>{{ task.about }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ task.status }}</td>
            </tr>
            <tr>
                <th>End_time</th>
                <td>{{ task.endTime ? task.endTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_task_index') }}">back to list</a>

    <a href="{{ path('app_task_edit', {'id': task.id}) }}">edit</a>

    {{ include('task/_delete_form.html.twig') }}
{% endblock %}
